@font-face {
  font-family: "iran";
  font-style: normal;
  font-weight: 300;
  font-display: block;
  src: url(../fonts/iran-sansX/IRANSansX-Medium.ttf);
  src: url(../fonts/iran-sansX/IRANSansX-Medium.woff);
  src: url(../fonts/iran-sansX/IRANSansX-Medium.woff2);
}

@font-face {
  font-family: "iran-digit";
  font-style: normal;
  font-weight: 300;
  font-display: block;
  src: url(../fonts/iran-sansX/IRANSansXFaNum-Medium.ttf);
  src: url(../fonts/iran-sansX/IRANSansXFaNum-Medium.woff);
  src: url(../fonts/iran-sansX/IRANSansXFaNum-Medium.woff2);
}


app-modal {
  display: none;
}

body.modal-open {
  overflow: hidden;
}

body, h1, h2, h3, h4, h5, h6, a, span, td, tspan, text, button, .dropdown-menu, .popover, .tooltip {
  font-family: "iran-digit",iran,yekan,tahoma !important;
}

.form-control {
  font-size: 13px;
}

html {
  direction: rtl;
  text-align: right;
}

.col-lg-12, p, div {
  text-align: right;
}

.reload-icon {
  cursor: pointer;
}

.btn-login {
  border: 1px solid #e1e2e6;
  border-radius: 50px;
  padding: 10px 30px;
  margin: 10px;
  cursor: pointer;
  text-align: center;
  background-color: #f7faff;
  transition: opacity 0.2s linear 0s;
  width: 100%;
  max-width: 270px;
  font-size: 14px;
  font-weight: 500;
  color: #17171d;
}

.login-button {
  border: none;
  padding: 8px 15px;
  margin-top: 10px;
  margin-right: 10px;
  display: inline-block;
  color: #1967d2;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
}

.header-style-3 .header-nav .nav > li .sub-menu li > .sub-menu {
  right: 180px;
  left: unset !important;
}

/*.header-style-3 .header-nav .nav > li .sub-menu {
  width: 180px;
}
*/
.wrapper .cssload-loader {
  right: 50%;
}

#selec2-1 .select2-container {
  margin-top: 6px;
}

a {
  cursor: pointer
}

.select2-selection {
  border: none !important;
  outline: none !important;
  background: none !important;
}

.dropdown-toggle::after {
  display: inline-block;
  margin-left: .255em;
  vertical-align: .255em;
  content: "";
  border: none !important
}

.select2-label-content {
  font-size: 13px;
}

.twm-mid-content-title {
  color: #999999;
  font-size: 14px;
}

.select2-create__field {
  background-color: #d4e6ff;
  border: 1px solid #d0d0d0;
  min-height: 36px;
  border-radius: 5px;
  opacity: 0.6
}

.twm-s-title::before {
  content: "";
  position: absolute;
  top: 30px;
  right: 10px;
  background-color: #1967d2;
  width: 40px;
  height: 3px;
}

.popular-search {
  color: #1967d2;
  background-color: #f0f6fe;
  margin-right: 4px;
  margin-bottom: 4px;
  /* display: block; */
  padding: 6px;
  border-radius: 5px;
  border: 1px solid transparent
}

.btn-home {
  background-color: #e0eeff;
  color: #1967d2;
  font-size: 16px;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  z-index: 0;
}

  .btn-home:hover:before {
    width: 100%;
    right: 0%;
    opacity: 0.1;
  }

.btn:hover {
  background-color: unset !important;
  color: unset !important;
}

ul li {
  list-style-type: none;
}

.form-check .form-check-input {
  float: right;
  margin-left: 5px;
}

.select2-selection__choice span {
  padding: 7px;
}

.is-active {
  color: #1967d2 !important;
}
label{
    display:unset
}

.twm-job-title {
  background-color: #f0f6fe;
  color: #1967d2;
  font-size: 13px;
  border-radius: 10px;
  padding: 4px 15px;
  display: inline-block;
  margin-bottom: 10px;
}
