<div class="modal fade twm-sign-up" id="@ViewBag.ModalId" tabindex="-1" aria-labelledby="exampleModalLabel" style="display: block;" aria-modal="true" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">تعیین وضعیت</h5>
            </div>
            <div class="modal-body">
                <table class="">

                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">انصراف</button>
                <button type="button" class="btn btn-primary">ثبت</button>
            </div>
        </div>
    </div>
</div>